.form p, .form a {
    font-size: 12px;
}

.form a:nth-of-type(1) {
    text-decoration: underline;
}

.form a:nth-of-type(2) {
    border: 1px solid var(--text-main);
    background-color: var(--bg-card);
    text-align: center;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .cont-main-login {
        background: var(--bg-soft-gradient);
        border-left: 4px solid var(--color-auth-border);

        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        margin: 40px auto 0;
        padding: 40px;
        width: 40vw;
    }
}
