.beneficios {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    margin: 0 var(--space-page);
}



@media (min-width: 768px) {

.beneficios{
        display: grid;
        grid-template-rows: auto 1fr;
        
    }

}