
.cont-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {

    .cont-main{
        background: linear-gradient(to right, #fcfceb, #f5f5dc);
        border-left: 4px solid #7aaedb;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        margin: 40px auto 0;
        padding: 40px;
        width: 60vw;
    }
    .cont-form{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}