.estado-emocional {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.pregunta-h1 {
    text-align: center;
}

.estado-emocional h3 {
    text-align: center;
}

.botonesIteractivos {
    display: flex;
    align-self: center;
    margin-top: 1rem;
}

.botonesIteractivos button {
    padding: 0.5rem 1rem;
    margin: 15px;
    border-radius: 5px;
}

.estado-emocional p {
    text-align: center;
    margin: 0.5rem;
}

.btn-base {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-md);
    border: none;
    background-color: var(--bg-neutral-soft);
    cursor: pointer;
}

/* Colores botones emoción */
.btn-bien {
    background-color: var(--color-well);
}

.btn-neutro {
    background-color: var(--color-neutral);
}

.btn-mal {
    background-color: var(--color-bad);
}

@media (min-width: 768px) {
    .btn-base:hover {
        transition: color 0.3s ease;
        transform: scale(1.2);
    }
}
