.botones-generales {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-family: nunito-medium;
    text-align: center;
    border: 0.2em solid var(--color-secondary);
    border-radius: var(--radius-md);
    background-color: var(--bg-secondary);
    padding: 0.5em 1em;
    margin: 1em;
    cursor: pointer;
}

@media (min-width: 768px) {
    .botones-generales {
        transition: transform var(--tr-normal);
    }
    
    .botones-generales:hover {
        transform: scale(1.05);
        color: var(--color-secondary-dark);
    }
}
